header{
    background-color: blue;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
footer{
    background-color:blueviolet;
    padding: 10px;
    margin-top: 40%;
    text-align: center;
}